/* Authentication */
.auth {
    margin-top: 50px;
      text-align: center;
  }
  
  .logo {
      text-align: center;
      font-weight: 100;
      font-size: 80px;
      -webkit-user-select: none;
      /* Chrome all / Safari all */
      -moz-user-select: none;
      /* Firefox all */
      -ms-user-select: none;
      /* IE 10+ */
      user-select: none;
      /* Likely future */
  }
  
  a.logo {
      color: #5B5B5B;
  }
  
  a {
      cursor: pointer;
  }
  
  .auth .card {
      width: 400px;
      margin: 0 auto;
  }
  
  @media screen and (max-width: 480px) {
    .auth .card {
      width: 100%;
    }
  
    .logo {
      font-size: 60px;
    }
  }
  
  .auth .header {
      font-size: 18px;
  }
  
  .auth .row {
      margin-bottom: 0px;
  }
  
  .auth .username {
    margin-top: 0px;
  }
  
  .auth .btn {
      width: 90%;
  }
  
  .auth .footer {
      border-top: 1px solid #E9E9E9;
      padding-bottom: 21px;
  }

  /* GoOlE ProFile */
  .user-profile {
    /* width: 0.1%;
    height: 0.1%; */

  }

  .user-profile-name {
    /* width: 0.1%;
    height: 0.1%; */

  }

  .user-profile-photoURL {
    width: 15%;
    height: 15%;

  }
 
  /* card */
  .card {
    width: 100px;
    height: 300px;
    background-color: white; 
 
  }

  .card-subject {
    width: 400px;
    height: 50px;
  }
  
  .row {
    width: 100px;
    height: 300px;
  }

  /* id, pw inputbox */
  .basicinfo-input-id, .basicinfo-input-pw {
    margin-top: 3%;
    padding-top: 1%;
  
    }

  .logout-button, .login-button {
    margin-top: 30px;
  }

  .google-loginbutton {
    margin-top: 3px;
  }

  .damding-loginbutton {
    margin-top: 3px;
  }

  .damding-loginbutton-t {
    background-color: rosybrown;
  }

  .damding-signupbutton {
    margin-top: 10px;
  }