.exp-css {
    text-align: center;
    margin-top: 30px;
    
}

.exp00-css{
    margin-top: 500px;
    background-color:#E8E8E8;
}

.exp01-css{
    margin-top: 500px;
    background-color: #E8E8E8;
}

.exp02-css{
    margin-top: 500px;
    background-color: #E8E8E8;
}

.exp03-css{
    margin-top: 500px;
    background-color: #E8E8E8;
}

.exp04-css{
    margin-top: 500px;
    background-color: #E8E8E8;
}

.exp05-css{
    margin-top: 500px;
    background-color: #E8E8E8;
}

.exp06-css{
    margin-top: 500px;
    background-color: #E8E8E8;
}

.exp07-css{
    margin-top: 500px;
    background-color: #E8E8E8;
}

.exp08-css{
    margin-top: 500px;
    background-color: #E8E8E8;
}

.exp09-css{
    margin-top: 500px;
    background-color: #E8E8E8;
}