.Navigate {
    position: relative;
    margin: auto;
    margin-top: 4%;
    width: 95%;
    height: 40em;
    background-color: rgb(236, 236, 232);
}

/* 오른쪽 버튼 */
.ui.button.Navigate-right-button {
    float: right;
    margin: 50px;
}

/* 왼쪽 버튼 */
.ui.button.Navigate-left-button {
    float: left;
    margin: 50px;
}

/* 페이지 번호 */
.Navigate-page-num {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}