.QnaWrapper {
    width: 90em;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    /* margin: auto; */
    background-color: rgb(245, 239, 231);
}

@media (max-width: 768px) {
    .QnaWrapper {
        width: 90%;    
    }
}