.mapdiv-css {
    /* background-color: #F0F0F0; */
    width: 100%;
    height: 300px;
}

.mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin-top: 10%;
}

.mapdivest-css {
    height: 700px
}

.mapContainer-css {
    height: 600px;
    margin-top: 200px;
}